cmake-build-*/*
cmake-build-release*/*
cmake-qtcreator-build*/*

build/*
build*/*
debug-build/*
.idea/*
*.orig
example/raiDynTest/build/*
example/raiDynTest/.idea/*
example/raiDynTest/cmake-build-release/*
example/raiDynTest/cmake-build-debug/*

python/cython/*.cpp
python/cython/*.c
python/cython/pyraisim_path.py
python/cython/*.so
python/cython/build/*
python/cython/pyraisim_path.py
python/cython/__pycache__/*
python/cython/.idea/*
python/cython/pyraisim_path.pyc
python/cython/cython_debug/*
python/cython/src/*
python/cython/dist/*
python/cython/pyraisim.egg*
python/cython/*.so

.vscode

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride
/.project

out/*
.vs/*
CMakeSettings*
